.Paper {
    background-color: #2d2c2c !important;
}

.MuiTableCell-head {
    color: white !important;
}

.MuiTableCell-body {
    color: #f7f7f7 !important;
}

.MuiTableCell-head {
    font-size: .95rem !important;
    font-weight: 200 !important;
    color: #a2caff !important;
}

.MuiTableCell-root {
    border-bottom: 1px solid rgb(67, 67, 67) !important;
}
