.flex-container {
    display: flex;
    width: 1290px;
    margin: 0;
    padding-top: 20px;
}

.flex-container > div {
    padding: 20px;
    font-size: 30px;
    width: 33%;
    flex-flow: wrap;
}

.MuiTypography-colorTextSecondary {
    color: white !important;
}

.MuiButton-textPrimary {
    color: #bb86fc !important;
}

.MuiDivider-root {
    background-color: rgb(84, 84, 84) !important;
}
